<div class="container">
    <div *ngIf="message" style="color: red;" class="text-center">{{message}}</div>
    <h1 class="text-center">Guest Details</h1>

    <div class="card-container">
        <div class="card">
            <form #guestForm="ngForm" (ngSubmit)="onFormSubmit(guestForm)">
                <div>
                    <label class="form-label">First Name:
                        <br>
                        <input 
                        #firstName="ngModel" 
                        [(ngModel)]="guest.firstName"
                        name="firstName" 
                        class="form-control"
                        required
                        minlength="2">
                    </label>
                    <i
                        [attr.title]="
                        firstName?.errors?.['required']
                        ? 'Guest First Name is required'
                        : firstName?.errors?.['minlength']
                        ? 'Guest First Name min length is 2'
                        :'' 
                        "
                        class="fas fa-bomb fa-2x"
                        *ngIf="(firstName?.errors?.['required'] || firstName?.errors?.['minlength']) && !isFormValidated && guestForm.submitted"
                    >

                    </i>
                </div>
                <div>
                    <label class="form-label">Last Name:
                    <br>
                    <input 
                    #lastName="ngModel" 
                    [(ngModel)]="guest.lastName"
                    name="lastName" 
                    class="form-control"
                    required
                    minlength="2">
                    </label>
                    <i
                        [attr.title]="
                        lastName?.errors?.['required']
                        ? 'Guest Last Name is required'
                        : lastName?.errors?.['minlength']
                        ? 'Guest Last Name min length is 2'
                        :'' 
                        "
                        class="fas fa-bomb fa-2x"
                        *ngIf="(lastName?.errors?.['required'] || lastName?.errors?.['minlength']) && !isFormValidated && guestForm.submitted"
                    >

                    </i>
                </div>
                <div>
                    <label class="form-label">
                        Birthdate: 
                            <input 
                            type="date"
                            #birthdate = "ngModel"
                            name = "birthDate"                             
                            [ngModel]="guest.birthDate | date:'yyyy-MM-dd'"
                            (ngModelChange)="guest.birthDate = $event"
                            required>
                    </label>
                    
                    <i
                        [attr.title] = "
                            birthdate?.errors?.['required'] 
                            ? 'Birthdate is required' 
                            : ''
                        "
                        class="fas fa-bomb fa-2x"
                        *ngIf="(birthdate?.errors?.['required']) && !isFormValidated && guestForm.submitted"
                    ></i>
                </div>
                <div class="form-check">
                    <label class="form-check-label">Is VIP
                        <input type="checkbox" name="isVIP" class="form-check-input" [(ngModel)]="guest.isVIP">
                    </label>
                </div>
                <button class="btn btn-primary">{{btnText}}</button>
                <br>
                <button *ngIf="guest.id" class="btn btn-secondary" (click)="delete()">Delete</button>
                {{saveMessage}}
            </form>
        </div>
    </div>
</div>
